{% extends "main/main.html" %}
{% load static %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb"
    style="background-image: url({% static 'media/banner/common-banner.jpg' %});">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first" style="max-width: 500px">
                <h1 style="text-transform: uppercase;">
                    Reset Password
                </h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">
                        reset_password
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static "media/banner/login.jpg" %}" alt="">
                    <div class="hover">
                        <h4>Well done</h4>
                        <p>After all that effort, you have successfully change your password that you will definitely forget again in the future</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3 class="title_confirmation" style="color: #ffb900; margin: 10% 0; text-align:center;">Successfully changed your password !! <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></h3>
                    <a href="{% url "login" %}" class="genric-btn primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}