{% extends "main/main.html" %}
{% load static %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb"
    style="background-image: url({% static 'media/banner/common-banner.jpg' %});">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first" style="max-width: 500px">
                <h1>Email Sent</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">email sent</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<h3 class="title_confirmation" style="color: #ffb900; margin: 5% 0 0 0; text-align:center;">You should have received an email to reset your passoword <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i></h3>
<h5 class="title_confirmation" style="color: #ffb900; margin: 5px 0 10% 0; text-align:center;">If you have not, It was probably because of you have enter a none registered email. So try again pls !!</h5>

{% endblock content %}