{% extends "main/main.html" %}
{% load static %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb"
    style="background-image: url({% static 'media/banner/common-banner.jpg' %});">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first" style="max-width: 500px">
                <h1 style="text-transform: uppercase;">
                    Reset Password
                </h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">
                        reset password
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static "media/banner/login.jpg" %}" alt="">
                    <div class="hover">
                        <h4>Make this far huh?</h4>
                        <p>Your final challenge is to CHANGE YOUR PASSWORD and maybe save it to some note</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Enter your email</h3>
                    <form class="row login_form" action="" method="POST" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="col-md-12 form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
