<!DOCTYPE html>
<html lang="zxx" class="no-js">
{% load static %}
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Nitroz Invoice#{{invoice.id}}</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
    <!--
</head>

<body>
    <!-- start banner Area -->
    <section class="banner-area organic-breadcrumb breadcrumb-banner">
        <div class="container">
            <div class="row single-slide">
                <div class="col-lg-7">
                    <div class="banner-img">
                        <img class="img-fluid" src="{{suppiler.ImageURL}}" alt="Brandlogo">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-content">
                        <h1>Invoice Bill #<br>{{invoice.id}}</h1>
                        <h4>Created at: {{invoice.created}}<br>
                            Form: {{suppiler.name}}<br>
                            Adress: {{suppiler.address}}<br>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->


    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table" style="border: 1px solid #262626; padding: 3px 0; text-align:center;">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>       
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                        </div>
                                        <div class="media-body">
                                            <p>{{item.product.name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% if item.product.is_sale %}
                                    <h5>${{item.product.sale_price}}</h5>
                                    {% else %}
                                    <h5>${{item.product.price_im}}</h5>
                                    {% endif %}
                                </td>
                                <td>
                                    <h5>{{item.quantity}}</h5>
                                </td>
                                <td>
                                    <h5>${{item.item_total}}</h5>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>${{total}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->


    <section class="contact_area section_gap_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Payment Info</h6>
                            <p>Account # 123 456</p>
                        </div>
                        <hr>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6>Ha Noi University of civil Engineering</h6>
                            <p><a href="#">00 (440) 9865 562</a></p>
                        </div>
                        <hr>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">abc@gmail.com</a></h6>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- start footer Area -->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap" style="text-align:center">
                <p class="footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Thank for your bussiness
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
</body>

</html>